<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--使用配置文件-->
  <properties>
    <property resource="config\dbconfig.config" />
  </properties>
  
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="providers.config" />
  
  <!--
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="SalesData" connectionString="database=DBSchoolHelper;server=192.168.192.129;user id=sa;password=zouzhipeng123A;Connect Timeout=100"/>
  </database>-->

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="OilPainterDataSource" connectionString="database=${database};server=${datasource};user id=${userid};password=${password};Connect Timeout=100" />
  </database>

  <sqlMaps>
    <sqlMap resource="config\mapper\UserMapper.xml" />
    <sqlMap resource="config\mapper\ProductLineMapper.xml"/>
    <sqlMap resource="config\mapper\BomMapper.xml"/>  
    <sqlMap resource="config\mapper\CustomerMapper.xml"/>
    <sqlMap resource="config\mapper\OilTypeMapper.xml"/>
    <sqlMap resource="config\mapper\TaskMapper.xml"/>
  </sqlMaps>
</sqlMapConfig>