<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="frontend.cc.gtscloud.oilpainter.dao.model.mapper" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="UserModel" type="frontend.cc.gtscloud.oilpainter.dao.model.SecurityUserModel, frontend" />
  </alias>
  
  <resultMaps>
    <resultMap id="UserObjectMapper" class="UserModel">
      <result property="UserName" column="UserID"/>
      <result property="Password" column="UserPassword"/>
      <result property="Right" column="SecurityRight"/>
    </resultMap>
  </resultMaps>

  <statements>
    <statement id="FindUserByUsername" parameterClass="System.String" resultClass="UserModel" resultMap="UserObjectMapper">
      SELECT
      *
      FROM [SprayLacquerManagement].[dbo].[SecurityUser] WHERE [USERID] = #username#
    </statement>
    <update id="UpdateUserPassword" parameterClass="UserModel">
      UPDATE [SprayLacquerManagement].[dbo].[SecurityUser]
      SET [USERPASSWORD] = #Password#
      WHERE [USERID] = #UserName#
    </update>
    <update id="UpdateUserRight" parameterClass="UserModel">
      UPDATE
      [SprayLacquerManagement].[dbo].[SecurityUser]
      SET [SecurityRight] = #Right# 
      WHERE [UserID] = #UserName#;
    </update>
    <select id="FindAllUsers" resultMap="UserObjectMapper">
      SELECT * FROM [SprayLacquerManagement].[dbo].[SecurityUser]
    </select>
    <select id="FindAllRights">
      SELECT DISTINCT [SecurityRight] as UserRight
      FROM [SprayLacquerManagement].[dbo].[SecurityUser]
    </select>
    <insert id="InsertNewUser" parameterClass="UserModel">
      INSERT INTO [SprayLacquerManagement].[dbo].[SecurityUser]
      ([UserID], 
      [UserPassword], 
      [SecurityRight])
      VALUES
      (#UserName#, #Password#, #Right#);
    </insert>
    <delete id="DeleteUser">
      DELETE 
      FROM [SprayLacquerManagement].[dbo].[SecurityUser]
      WHERE 
      [USERID] = #username#
    </delete>
  </statements>
</sqlMap>